/* 
$font-family-base:        Tahoma, Helvetica, Arial, sans-serif; */
/* $body-bg:               red;
 */
/*$font-size-h5:            $font-size-base !default;
$font-size-h6:            ceil(($font-size-base * 0.85)) !default; // ~12px */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.pull-right {
  float: right !important;
}

.pull-left {
  float: left !important;
}

.center-text {
  text-align: center;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  box-sizing: border-box;
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #83a7a5;
  background: #fff;
  line-height: 22px;
}

a {
  color: #83a7a5;
}

a:hover {
  color: #67908e;
  text-decoration: underline;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: #0f5f5c;
}

h1, .h1 {
  font-size: 32px;
  margin: 30px 0;
}

h2, .h2 {
  font-size: 21px;
  margin: 20px 0;
}

h3, .h3 {
  font-size: 16px;
  margin: 15px 0;
}

h4, .h4 {
  font-size: 13px;
  margin: 10px 0;
}

/* h5, .h5 { font-size: $font-size-h5; margin: $margin-h5; }
h6, .h6 { font-size: $font-size-h6; margin: $margin-h6; }
 */
.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.text-nowrap {
  white-space: nowrap;
}

[class*="col-"] {
  padding-top: 1rem;
  padding-bottom: 1rem;
  /* background-color: rgba(86,61,124,.15);
    border: 1px solid rgba(86,61,124,.2); */
}

.hidden-xs-up {
  display: none !important;
}

@media (max-width: 479.9px) {
  .hidden-xs-down {
    display: none !important;
  }
}

@media (min-width: 480px) {
  .hidden-sm-up {
    display: none !important;
  }
}

@media (max-width: 719.9px) {
  .hidden-sm-down {
    display: none !important;
  }
}

@media (min-width: 720px) {
  .hidden-md-up {
    display: none !important;
  }
}

@media (max-width: 959.9px) {
  .hidden-md-down {
    display: none !important;
  }
}

@media (min-width: 960px) {
  .hidden-lg-up {
    display: none !important;
  }
}

@media (max-width: 1139.9px) {
  .hidden-lg-down {
    display: none !important;
  }
}

@media (min-width: 1140px) {
  .hidden-xl-up {
    display: none !important;
  }
}

.hidden-xl-down {
  display: none !important;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container:before, .container:after {
  content: " ";
  display: table;
}

.container:after {
  clear: both;
}

.container--collapse {
  padding-left: 0;
  padding-right: 0;
}

@media (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media (min-width: 720px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 960px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1140px) {
  .container {
    max-width: 1140px;
  }
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container-fluid:before, .container-fluid:after {
  content: " ";
  display: table;
}

.container-fluid:after {
  clear: both;
}

.container-fluid--collapse {
  padding-left: 0;
  padding-right: 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.row--collapse {
  margin-left: 0;
  margin-right: 0;
}

.row--collapse > [class*='col-'] {
  padding-left: 0;
  padding-right: 0;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.col-xs-1 {
  flex: 0 0 8.33333%;
}

.col-xs-1.col-xs-1--right {
  float: right;
}

.col-xs-2 {
  flex: 0 0 16.66667%;
}

.col-xs-2.col-xs-2--right {
  float: right;
}

.col-xs-3 {
  flex: 0 0 25%;
}

.col-xs-3.col-xs-3--right {
  float: right;
}

.col-xs-4 {
  flex: 0 0 33.33333%;
}

.col-xs-4.col-xs-4--right {
  float: right;
}

.col-xs-5 {
  flex: 0 0 41.66667%;
}

.col-xs-5.col-xs-5--right {
  float: right;
}

.col-xs-6 {
  flex: 0 0 50%;
}

.col-xs-6.col-xs-6--right {
  float: right;
}

.col-xs-7 {
  flex: 0 0 58.33333%;
}

.col-xs-7.col-xs-7--right {
  float: right;
}

.col-xs-8 {
  flex: 0 0 66.66667%;
}

.col-xs-8.col-xs-8--right {
  float: right;
}

.col-xs-9 {
  flex: 0 0 75%;
}

.col-xs-9.col-xs-9--right {
  float: right;
}

.col-xs-10 {
  flex: 0 0 83.33333%;
}

.col-xs-10.col-xs-10--right {
  float: right;
}

.col-xs-11 {
  flex: 0 0 91.66667%;
}

.col-xs-11.col-xs-11--right {
  float: right;
}

.col-xs-12 {
  flex: 0 0 100%;
}

.col-xs-12.col-xs-12--right {
  float: right;
}

.col-xs-pull-0 {
  right: auto;
}

.col-xs-pull-1 {
  right: 8.33333%;
}

.col-xs-pull-2 {
  right: 16.66667%;
}

.col-xs-pull-3 {
  right: 25%;
}

.col-xs-pull-4 {
  right: 33.33333%;
}

.col-xs-pull-5 {
  right: 41.66667%;
}

.col-xs-pull-6 {
  right: 50%;
}

.col-xs-pull-7 {
  right: 58.33333%;
}

.col-xs-pull-8 {
  right: 66.66667%;
}

.col-xs-pull-9 {
  right: 75%;
}

.col-xs-pull-10 {
  right: 83.33333%;
}

.col-xs-pull-11 {
  right: 91.66667%;
}

.col-xs-pull-12 {
  right: 100%;
}

.col-xs-push-0 {
  left: auto;
}

.col-xs-push-1 {
  left: 8.33333%;
}

.col-xs-push-2 {
  left: 16.66667%;
}

.col-xs-push-3 {
  left: 25%;
}

.col-xs-push-4 {
  left: 33.33333%;
}

.col-xs-push-5 {
  left: 41.66667%;
}

.col-xs-push-6 {
  left: 50%;
}

.col-xs-push-7 {
  left: 58.33333%;
}

.col-xs-push-8 {
  left: 66.66667%;
}

.col-xs-push-9 {
  left: 75%;
}

.col-xs-push-10 {
  left: 83.33333%;
}

.col-xs-push-11 {
  left: 91.66667%;
}

.col-xs-push-12 {
  left: 100%;
}

.col-xs-offset-0 {
  margin-left: 0%;
}

.col-xs-offset-1 {
  margin-left: 8.33333%;
}

.col-xs-offset-2 {
  margin-left: 16.66667%;
}

.col-xs-offset-3 {
  margin-left: 25%;
}

.col-xs-offset-4 {
  margin-left: 33.33333%;
}

.col-xs-offset-5 {
  margin-left: 41.66667%;
}

.col-xs-offset-6 {
  margin-left: 50%;
}

.col-xs-offset-7 {
  margin-left: 58.33333%;
}

.col-xs-offset-8 {
  margin-left: 66.66667%;
}

.col-xs-offset-9 {
  margin-left: 75%;
}

.col-xs-offset-10 {
  margin-left: 83.33333%;
}

.col-xs-offset-11 {
  margin-left: 91.66667%;
}

.col-xs-offset-12 {
  margin-left: 100%;
}

@media (min-width: 480px) {
  .col-sm-1 {
    flex: 0 0 8.33333%;
  }
  .col-sm-1.col-sm-1--right {
    float: right;
  }
  .col-sm-2 {
    flex: 0 0 16.66667%;
  }
  .col-sm-2.col-sm-2--right {
    float: right;
  }
  .col-sm-3 {
    flex: 0 0 25%;
  }
  .col-sm-3.col-sm-3--right {
    float: right;
  }
  .col-sm-4 {
    flex: 0 0 33.33333%;
  }
  .col-sm-4.col-sm-4--right {
    float: right;
  }
  .col-sm-5 {
    flex: 0 0 41.66667%;
  }
  .col-sm-5.col-sm-5--right {
    float: right;
  }
  .col-sm-6 {
    flex: 0 0 50%;
  }
  .col-sm-6.col-sm-6--right {
    float: right;
  }
  .col-sm-7 {
    flex: 0 0 58.33333%;
  }
  .col-sm-7.col-sm-7--right {
    float: right;
  }
  .col-sm-8 {
    flex: 0 0 66.66667%;
  }
  .col-sm-8.col-sm-8--right {
    float: right;
  }
  .col-sm-9 {
    flex: 0 0 75%;
  }
  .col-sm-9.col-sm-9--right {
    float: right;
  }
  .col-sm-10 {
    flex: 0 0 83.33333%;
  }
  .col-sm-10.col-sm-10--right {
    float: right;
  }
  .col-sm-11 {
    flex: 0 0 91.66667%;
  }
  .col-sm-11.col-sm-11--right {
    float: right;
  }
  .col-sm-12 {
    flex: 0 0 100%;
  }
  .col-sm-12.col-sm-12--right {
    float: right;
  }
  .col-sm-pull-0 {
    right: auto;
  }
  .col-sm-pull-1 {
    right: 8.33333%;
  }
  .col-sm-pull-2 {
    right: 16.66667%;
  }
  .col-sm-pull-3 {
    right: 25%;
  }
  .col-sm-pull-4 {
    right: 33.33333%;
  }
  .col-sm-pull-5 {
    right: 41.66667%;
  }
  .col-sm-pull-6 {
    right: 50%;
  }
  .col-sm-pull-7 {
    right: 58.33333%;
  }
  .col-sm-pull-8 {
    right: 66.66667%;
  }
  .col-sm-pull-9 {
    right: 75%;
  }
  .col-sm-pull-10 {
    right: 83.33333%;
  }
  .col-sm-pull-11 {
    right: 91.66667%;
  }
  .col-sm-pull-12 {
    right: 100%;
  }
  .col-sm-push-0 {
    left: auto;
  }
  .col-sm-push-1 {
    left: 8.33333%;
  }
  .col-sm-push-2 {
    left: 16.66667%;
  }
  .col-sm-push-3 {
    left: 25%;
  }
  .col-sm-push-4 {
    left: 33.33333%;
  }
  .col-sm-push-5 {
    left: 41.66667%;
  }
  .col-sm-push-6 {
    left: 50%;
  }
  .col-sm-push-7 {
    left: 58.33333%;
  }
  .col-sm-push-8 {
    left: 66.66667%;
  }
  .col-sm-push-9 {
    left: 75%;
  }
  .col-sm-push-10 {
    left: 83.33333%;
  }
  .col-sm-push-11 {
    left: 91.66667%;
  }
  .col-sm-push-12 {
    left: 100%;
  }
  .col-sm-offset-0 {
    margin-left: 0%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66667%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66667%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66667%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66667%;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
}

@media (min-width: 720px) {
  .col-md-1 {
    flex: 0 0 8.33333%;
  }
  .col-md-1.col-md-1--right {
    float: right;
  }
  .col-md-2 {
    flex: 0 0 16.66667%;
  }
  .col-md-2.col-md-2--right {
    float: right;
  }
  .col-md-3 {
    flex: 0 0 25%;
  }
  .col-md-3.col-md-3--right {
    float: right;
  }
  .col-md-4 {
    flex: 0 0 33.33333%;
  }
  .col-md-4.col-md-4--right {
    float: right;
  }
  .col-md-5 {
    flex: 0 0 41.66667%;
  }
  .col-md-5.col-md-5--right {
    float: right;
  }
  .col-md-6 {
    flex: 0 0 50%;
  }
  .col-md-6.col-md-6--right {
    float: right;
  }
  .col-md-7 {
    flex: 0 0 58.33333%;
  }
  .col-md-7.col-md-7--right {
    float: right;
  }
  .col-md-8 {
    flex: 0 0 66.66667%;
  }
  .col-md-8.col-md-8--right {
    float: right;
  }
  .col-md-9 {
    flex: 0 0 75%;
  }
  .col-md-9.col-md-9--right {
    float: right;
  }
  .col-md-10 {
    flex: 0 0 83.33333%;
  }
  .col-md-10.col-md-10--right {
    float: right;
  }
  .col-md-11 {
    flex: 0 0 91.66667%;
  }
  .col-md-11.col-md-11--right {
    float: right;
  }
  .col-md-12 {
    flex: 0 0 100%;
  }
  .col-md-12.col-md-12--right {
    float: right;
  }
  .col-md-pull-0 {
    right: auto;
  }
  .col-md-pull-1 {
    right: 8.33333%;
  }
  .col-md-pull-2 {
    right: 16.66667%;
  }
  .col-md-pull-3 {
    right: 25%;
  }
  .col-md-pull-4 {
    right: 33.33333%;
  }
  .col-md-pull-5 {
    right: 41.66667%;
  }
  .col-md-pull-6 {
    right: 50%;
  }
  .col-md-pull-7 {
    right: 58.33333%;
  }
  .col-md-pull-8 {
    right: 66.66667%;
  }
  .col-md-pull-9 {
    right: 75%;
  }
  .col-md-pull-10 {
    right: 83.33333%;
  }
  .col-md-pull-11 {
    right: 91.66667%;
  }
  .col-md-pull-12 {
    right: 100%;
  }
  .col-md-push-0 {
    left: auto;
  }
  .col-md-push-1 {
    left: 8.33333%;
  }
  .col-md-push-2 {
    left: 16.66667%;
  }
  .col-md-push-3 {
    left: 25%;
  }
  .col-md-push-4 {
    left: 33.33333%;
  }
  .col-md-push-5 {
    left: 41.66667%;
  }
  .col-md-push-6 {
    left: 50%;
  }
  .col-md-push-7 {
    left: 58.33333%;
  }
  .col-md-push-8 {
    left: 66.66667%;
  }
  .col-md-push-9 {
    left: 75%;
  }
  .col-md-push-10 {
    left: 83.33333%;
  }
  .col-md-push-11 {
    left: 91.66667%;
  }
  .col-md-push-12 {
    left: 100%;
  }
  .col-md-offset-0 {
    margin-left: 0%;
  }
  .col-md-offset-1 {
    margin-left: 8.33333%;
  }
  .col-md-offset-2 {
    margin-left: 16.66667%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333%;
  }
  .col-md-offset-5 {
    margin-left: 41.66667%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333%;
  }
  .col-md-offset-8 {
    margin-left: 66.66667%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333%;
  }
  .col-md-offset-11 {
    margin-left: 91.66667%;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
}

@media (min-width: 960px) {
  .col-lg-1 {
    flex: 0 0 8.33333%;
  }
  .col-lg-1.col-lg-1--right {
    float: right;
  }
  .col-lg-2 {
    flex: 0 0 16.66667%;
  }
  .col-lg-2.col-lg-2--right {
    float: right;
  }
  .col-lg-3 {
    flex: 0 0 25%;
  }
  .col-lg-3.col-lg-3--right {
    float: right;
  }
  .col-lg-4 {
    flex: 0 0 33.33333%;
  }
  .col-lg-4.col-lg-4--right {
    float: right;
  }
  .col-lg-5 {
    flex: 0 0 41.66667%;
  }
  .col-lg-5.col-lg-5--right {
    float: right;
  }
  .col-lg-6 {
    flex: 0 0 50%;
  }
  .col-lg-6.col-lg-6--right {
    float: right;
  }
  .col-lg-7 {
    flex: 0 0 58.33333%;
  }
  .col-lg-7.col-lg-7--right {
    float: right;
  }
  .col-lg-8 {
    flex: 0 0 66.66667%;
  }
  .col-lg-8.col-lg-8--right {
    float: right;
  }
  .col-lg-9 {
    flex: 0 0 75%;
  }
  .col-lg-9.col-lg-9--right {
    float: right;
  }
  .col-lg-10 {
    flex: 0 0 83.33333%;
  }
  .col-lg-10.col-lg-10--right {
    float: right;
  }
  .col-lg-11 {
    flex: 0 0 91.66667%;
  }
  .col-lg-11.col-lg-11--right {
    float: right;
  }
  .col-lg-12 {
    flex: 0 0 100%;
  }
  .col-lg-12.col-lg-12--right {
    float: right;
  }
  .col-lg-pull-0 {
    right: auto;
  }
  .col-lg-pull-1 {
    right: 8.33333%;
  }
  .col-lg-pull-2 {
    right: 16.66667%;
  }
  .col-lg-pull-3 {
    right: 25%;
  }
  .col-lg-pull-4 {
    right: 33.33333%;
  }
  .col-lg-pull-5 {
    right: 41.66667%;
  }
  .col-lg-pull-6 {
    right: 50%;
  }
  .col-lg-pull-7 {
    right: 58.33333%;
  }
  .col-lg-pull-8 {
    right: 66.66667%;
  }
  .col-lg-pull-9 {
    right: 75%;
  }
  .col-lg-pull-10 {
    right: 83.33333%;
  }
  .col-lg-pull-11 {
    right: 91.66667%;
  }
  .col-lg-pull-12 {
    right: 100%;
  }
  .col-lg-push-0 {
    left: auto;
  }
  .col-lg-push-1 {
    left: 8.33333%;
  }
  .col-lg-push-2 {
    left: 16.66667%;
  }
  .col-lg-push-3 {
    left: 25%;
  }
  .col-lg-push-4 {
    left: 33.33333%;
  }
  .col-lg-push-5 {
    left: 41.66667%;
  }
  .col-lg-push-6 {
    left: 50%;
  }
  .col-lg-push-7 {
    left: 58.33333%;
  }
  .col-lg-push-8 {
    left: 66.66667%;
  }
  .col-lg-push-9 {
    left: 75%;
  }
  .col-lg-push-10 {
    left: 83.33333%;
  }
  .col-lg-push-11 {
    left: 91.66667%;
  }
  .col-lg-push-12 {
    left: 100%;
  }
  .col-lg-offset-0 {
    margin-left: 0%;
  }
  .col-lg-offset-1 {
    margin-left: 8.33333%;
  }
  .col-lg-offset-2 {
    margin-left: 16.66667%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66667%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-7 {
    margin-left: 58.33333%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66667%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66667%;
  }
  .col-lg-offset-12 {
    margin-left: 100%;
  }
}

@media (min-width: 1140px) {
  .col-xl-1 {
    flex: 0 0 8.33333%;
  }
  .col-xl-1.col-xl-1--right {
    float: right;
  }
  .col-xl-2 {
    flex: 0 0 16.66667%;
  }
  .col-xl-2.col-xl-2--right {
    float: right;
  }
  .col-xl-3 {
    flex: 0 0 25%;
  }
  .col-xl-3.col-xl-3--right {
    float: right;
  }
  .col-xl-4 {
    flex: 0 0 33.33333%;
  }
  .col-xl-4.col-xl-4--right {
    float: right;
  }
  .col-xl-5 {
    flex: 0 0 41.66667%;
  }
  .col-xl-5.col-xl-5--right {
    float: right;
  }
  .col-xl-6 {
    flex: 0 0 50%;
  }
  .col-xl-6.col-xl-6--right {
    float: right;
  }
  .col-xl-7 {
    flex: 0 0 58.33333%;
  }
  .col-xl-7.col-xl-7--right {
    float: right;
  }
  .col-xl-8 {
    flex: 0 0 66.66667%;
  }
  .col-xl-8.col-xl-8--right {
    float: right;
  }
  .col-xl-9 {
    flex: 0 0 75%;
  }
  .col-xl-9.col-xl-9--right {
    float: right;
  }
  .col-xl-10 {
    flex: 0 0 83.33333%;
  }
  .col-xl-10.col-xl-10--right {
    float: right;
  }
  .col-xl-11 {
    flex: 0 0 91.66667%;
  }
  .col-xl-11.col-xl-11--right {
    float: right;
  }
  .col-xl-12 {
    flex: 0 0 100%;
  }
  .col-xl-12.col-xl-12--right {
    float: right;
  }
  .col-xl-pull-0 {
    right: auto;
  }
  .col-xl-pull-1 {
    right: 8.33333%;
  }
  .col-xl-pull-2 {
    right: 16.66667%;
  }
  .col-xl-pull-3 {
    right: 25%;
  }
  .col-xl-pull-4 {
    right: 33.33333%;
  }
  .col-xl-pull-5 {
    right: 41.66667%;
  }
  .col-xl-pull-6 {
    right: 50%;
  }
  .col-xl-pull-7 {
    right: 58.33333%;
  }
  .col-xl-pull-8 {
    right: 66.66667%;
  }
  .col-xl-pull-9 {
    right: 75%;
  }
  .col-xl-pull-10 {
    right: 83.33333%;
  }
  .col-xl-pull-11 {
    right: 91.66667%;
  }
  .col-xl-pull-12 {
    right: 100%;
  }
  .col-xl-push-0 {
    left: auto;
  }
  .col-xl-push-1 {
    left: 8.33333%;
  }
  .col-xl-push-2 {
    left: 16.66667%;
  }
  .col-xl-push-3 {
    left: 25%;
  }
  .col-xl-push-4 {
    left: 33.33333%;
  }
  .col-xl-push-5 {
    left: 41.66667%;
  }
  .col-xl-push-6 {
    left: 50%;
  }
  .col-xl-push-7 {
    left: 58.33333%;
  }
  .col-xl-push-8 {
    left: 66.66667%;
  }
  .col-xl-push-9 {
    left: 75%;
  }
  .col-xl-push-10 {
    left: 83.33333%;
  }
  .col-xl-push-11 {
    left: 91.66667%;
  }
  .col-xl-push-12 {
    left: 100%;
  }
  .col-xl-offset-0 {
    margin-left: 0%;
  }
  .col-xl-offset-1 {
    margin-left: 8.33333%;
  }
  .col-xl-offset-2 {
    margin-left: 16.66667%;
  }
  .col-xl-offset-3 {
    margin-left: 25%;
  }
  .col-xl-offset-4 {
    margin-left: 33.33333%;
  }
  .col-xl-offset-5 {
    margin-left: 41.66667%;
  }
  .col-xl-offset-6 {
    margin-left: 50%;
  }
  .col-xl-offset-7 {
    margin-left: 58.33333%;
  }
  .col-xl-offset-8 {
    margin-left: 66.66667%;
  }
  .col-xl-offset-9 {
    margin-left: 75%;
  }
  .col-xl-offset-10 {
    margin-left: 83.33333%;
  }
  .col-xl-offset-11 {
    margin-left: 91.66667%;
  }
  .col-xl-offset-12 {
    margin-left: 100%;
  }
}

.col-xs-first {
  order: -1;
}

.col-xs-last {
  order: 1;
}

@media (min-width: 480px) {
  .col-sm-first {
    order: -1;
  }
  .col-sm-last {
    order: 1;
  }
}

@media (min-width: 720px) {
  .col-md-first {
    order: -1;
  }
  .col-md-last {
    order: 1;
  }
}

@media (min-width: 960px) {
  .col-lg-first {
    order: -1;
  }
  .col-lg-last {
    order: 1;
  }
}

@media (min-width: 1140px) {
  .col-xl-first {
    order: -1;
  }
  .col-xl-last {
    order: 1;
  }
}

.row-xs-top {
  align-items: flex-start;
}

.row-xs-center {
  align-items: center;
}

.row-xs-bottom {
  align-items: flex-end;
}

@media (min-width: 480px) {
  .row-sm-top {
    align-items: flex-start;
  }
  .row-sm-center {
    align-items: center;
  }
  .row-sm-bottom {
    align-items: flex-end;
  }
}

@media (min-width: 720px) {
  .row-md-top {
    align-items: flex-start;
  }
  .row-md-center {
    align-items: center;
  }
  .row-md-bottom {
    align-items: flex-end;
  }
}

@media (min-width: 960px) {
  .row-lg-top {
    align-items: flex-start;
  }
  .row-lg-center {
    align-items: center;
  }
  .row-lg-bottom {
    align-items: flex-end;
  }
}

@media (min-width: 1140px) {
  .row-xl-top {
    align-items: flex-start;
  }
  .row-xl-center {
    align-items: center;
  }
  .row-xl-bottom {
    align-items: flex-end;
  }
}

.col-xs-top {
  align-self: flex-start;
}

.col-xs-center {
  align-self: center;
}

.col-xs-bottom {
  align-self: flex-end;
}

@media (min-width: 480px) {
  .col-sm-top {
    align-self: flex-start;
  }
  .col-sm-center {
    align-self: center;
  }
  .col-sm-bottom {
    align-self: flex-end;
  }
}

@media (min-width: 720px) {
  .col-md-top {
    align-self: flex-start;
  }
  .col-md-center {
    align-self: center;
  }
  .col-md-bottom {
    align-self: flex-end;
  }
}

@media (min-width: 960px) {
  .col-lg-top {
    align-self: flex-start;
  }
  .col-lg-center {
    align-self: center;
  }
  .col-lg-bottom {
    align-self: flex-end;
  }
}

@media (min-width: 1140px) {
  .col-xl-top {
    align-self: flex-start;
  }
  .col-xl-center {
    align-self: center;
  }
  .col-xl-bottom {
    align-self: flex-end;
  }
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 10px 20px;
  font-size: 17px;
  line-height: 22px;
  border-radius: 0;
  user-select: none;
}

.btn:hover {
  color: inherit;
  text-decoration: none;
}

.btn.disabled, .btn[disabled],
fieldset[disabled] .btn {
  cursor: disabled;
  opacity: .65;
}

a.btn.disabled,
fieldset[disabled] a.btn {
  pointer-events: none;
}

.btn--brand {
  color: #fff;
  background-color: #6fb048;
  border-color: #6fb048;
}

.btn--brand:hover {
  color: #fff;
  background-color: #588c39;
  border-color: #588c39;
}

.btn--brand:active, .btn--brand.active {
  color: #fff;
  background-color: #588c39;
  border-color: #588c39;
}

.btn--brand.disabled, .btn--brand.disabled:hover, .btn--brand.disabled:focus, .btn--brand.disabled.focus, .btn--brand.disabled:active, .btn--brand.disabled.active, .btn--brand[disabled], .btn--brand[disabled]:hover, .btn--brand[disabled]:focus, .btn--brand[disabled].focus, .btn--brand[disabled]:active, .btn--brand[disabled].active,
fieldset[disabled] .btn--brand,
fieldset[disabled] .btn--brand:hover,
fieldset[disabled] .btn--brand:focus,
fieldset[disabled] .btn--brand.focus,
fieldset[disabled] .btn--brand:active,
fieldset[disabled] .btn--brand.active {
  background-color: #6fb048;
  border-color: #6fb048;
}

.btn--link {
  color: #83a7a5;
  font-weight: normal;
  border-radius: 0;
}

.btn--link, .btn--link:active, .btn--link.active, .btn--link[disabled],
fieldset[disabled] .btn--link {
  background-color: transparent;
  box-shadow: none;
}

.btn--link, .btn--link:hover, .btn--link:focus, .btn--link:active {
  border-color: transparent;
}

.btn--link:hover, .btn--link:focus {
  color: #67908e;
  text-decoration: underline;
  background-color: transparent;
}

.btn--link[disabled]:hover, .btn--link[disabled]:focus,
fieldset[disabled] .btn--link:hover,
fieldset[disabled] .btn--link:focus {
  color: #ccc;
  text-decoration: none;
}

.btn--block {
  display: block;
  width: 100%;
}

.btn--block + .btn--block {
  margin-top: 5px;
}

input[type="submit"].btn--block,
input[type="reset"].btn--block,
input[type="button"].btn--block {
  width: 100%;
}

.btn-big {
  width: 285px;
  background-color: #6fb048;
  color: #fff;
  margin-top: 35px;
}

.btn-big:hover {
  color: #fff;
}

.btn-gray {
  background-color: #83a7a5;
  color: #fff;
}

label {
  display: inline-block;
  margin-bottom: .5rem;
}

input,
button,
select,
textarea {
  margin: 0;
  line-height: inherit;
}

textarea {
  resize: vertical;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: .5rem;
  font-size: 1.5rem;
  line-height: inherit;
}

input[type="search"] {
  -webkit-appearance: none;
}

.form__group {
  margin-bottom: 15px;
}

.form__control {
  display: block;
  width: 100%;
  height: 40px;
  padding: 8.5px 10px;
  font-size: 16px;
  line-height: 1.4;
  color: #83a7a5;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 0;
}

.form__control:-moz-placeholder {
  color: #999;
  opacity: 1;
}

.form__control::-moz-placeholder {
  color: #999;
  opacity: 1;
}

.form__control::-webkit-input-placeholder {
  color: #999;
}

.form__control:-ms-input-placeholder {
  color: #999;
}

.form__control::placeholder {
  color: #999;
}

.form__control.placeholder {
  color: #999 !important;
}

.form__control:focus:-moz-placeholder {
  color: transparent;
}

.form__control:focus::-moz-placeholder {
  color: transparent;
}

.form__control:focus::-webkit-input-placeholder {
  color: transparent;
}

.form__control:focus:-ms-input-placeholder {
  color: transparent;
}

.form__control:focus::placeholder {
  color: transparent;
}

.form__control:focus {
  border-color: #66afe9;
  outline: 0;
}

.form__control::placeholder {
  color: #999;
  opacity: 1;
}

.form__control[disabled], .form__control[readonly],
fieldset[disabled] .form__control {
  background-color: #ccc;
  opacity: 1;
}

.form__control[disabled],
fieldset[disabled] .form__control {
  cursor: disabled;
}

.form__label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
}

.form_help {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #cedcdb;
}

textarea.form__control {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: none;
}

input[type="text"] {
  background-color: #eef1ec;
}

input[type="text"] .icon {
  display: inline;
}

.icon {
  width: 30px;
  height: 30px;
  fill: #6fb048;
  float: left;
  margin-top: 5px;
  margin-right: 26px;
}

.icon-big {
  width: 50px;
  height: 50px;
  fill: #6fb048;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.icon-phone {
  width: 18px;
  height: 18px;
  fill: #bdc8c8;
  float: left;
}

.icon-center {
  margin-top: 60px;
  width: 40px;
  height: 40px;
  fill: #6fb048;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.navbar {
  position: relative;
  width: 100%;
  /*   min-height: 85px;  */
  margin-top: 36px;
}

.navbar > hr {
  background-color: #818286;
  width: 1070px;
  height: 1px;
  margin-top: 38px;
}

.navbar-brand {
  float: left;
  font-size: 18px;
  line-height: 20px;
}

.navbar-brand > a {
  border-right: 1px solid #697f7f;
  float: left;
  padding-right: 15px;
  margin-right: 15px;
}

.navbar-brand > p {
  border-right: none;
  float: left;
  color: white;
  margin-left: 8px;
  font-size: 14px;
}

.navbar-nav {
  margin: 0;
  /*   padding: 15px 15px; */
  list-style: none;
}

.navbar-nav > li {
  display: inline;
  padding: 10px 15px;
  line-height: 20px;
}

.navbar-nav > li:hover, .navbar-nav > li:focus, .navbar-nav > li:active, .navbar-nav > li.active {
  background-color: #697f7f;
  border-radius: 3px;
}

.navbar-nav > li > a {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}

.jumbotron {
  padding-top: 170px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  color: #fff;
  background-color: transparent;
}

.jumbotron h1,
.jumbotron .h1 {
  color: #fff;
  font-size: 38px;
}

.jumbotron p {
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 200;
  width: 513px;
  line-height: 26px;
}

.jumbotron > hr {
  border-top-color: transparent;
}

.jumbotron .container {
  padding-left: 15px;
  padding-right: 15px;
}

.jumbotron .container {
  max-width: 100%;
}

.page-header {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 97px;
  margin-bottom: 75px;
  text-align: center;
}

.page-header > h1 {
  font-size: 32px;
  font-weight: bold;
  color: #0f5f5c;
}

.page-header > h2 {
  font-size: 21px;
  font-weight: bold;
  color: #0f5f5c;
}

.page-header > p {
  font-size: 15px;
  margin-top: 24px;
}

.page-header-green > h1 {
  color: #6fb048;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.page-header-green > hr {
  border: none;
  background-color: #6fb048;
  color: #6fb048;
  height: 2px;
  width: 65px;
}

.page-header > hr {
  border: none;
  background-color: #6fb048;
  color: #6fb048;
  height: 2px;
  width: 65px;
}

.divider {
  margin-top: 33px;
  margin-bottom: 55px;
}

.section1 {
  background-image: url("../images/content/header.jpg");
  background-color: #0f5f5c;
  height: 660px;
}

.section2 {
  margin-bottom: 130px;
}

.section3 {
  background-color: #eef1ec;
}

.section4 {
  margin-top: 140px;
  margin-bottom: 130px;
}

.section4 blockquote {
  margin-top: 100px;
  width: 500px;
  font-size: 22px;
  line-height: 40px;
}

.section4 .author {
  color: #6fb048;
  font-weight: bold;
}

.section5 {
  margin-bottom: 100px;
  background-color: #eef1ec;
}

.section5 h1 {
  margin-top: 100px;
}

.section5 img {
  margin-top: 70px;
  margin-bottom: 70px;
}

.section7 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 545px;
  margin-bottom: 130px;
  text-align: center;
}

.section7 .email {
  color: #0f5f5c;
  font-weight: bold;
  font-size: 18px;
  margin-top: 44px;
}

.section8 {
  background-image: url("../images/content/content.jpg");
  vertical-align: middle;
  margin-bottom: 100px;
  height: 200px;
}

.section8 h1 {
  margin-bottom: 0px;
}

.section9 h2 {
  color: #0f5f5c;
  text-transform: uppercase;
  margin: 0;
  font-weight: bold;
}

.section9 h4 {
  color: #0f5f5c;
  text-transform: uppercase;
  font-weight: bold;
}

.section9 a {
  text-decoration: none;
}

footer hr {
  background-color: #818286;
  width: 1070px;
  height: 1px;
  margin-top: 53px;
}

.social-list-item {
  display: inline-block;
  text-align: center;
}

.social-list-icon {
  width: 20px;
  height: 20px;
  fill: #fff;
}

.social-list a {
  text-decoration: none;
}

.social-list .twitter {
  background-color: #55acee;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  vertical-align: middle;
}

.social-list .facebook {
  background-color: #3b5998;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  vertical-align: middle;
}

.social-list .instagram {
  background-color: #3f729b;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.social-list .dribble {
  background-color: #ea4c89;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.social-list .github {
  background-color: #333333;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.marker-list {
  list-style-position: inside;
  list-style-image: url("../images/content/marker.gif");
  list-style-type: circle;
}

.thumbnails {
  display: block;
  padding: 4px;
  margin-bottom: line-height-base;
  line-height: 22px;
  text-align: center;
}

.thumbnails-block {
  background-color: transparent;
  border: 1px solid #818286;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width: 255px;
  padding: 30px;
}

.thumbnails .caption {
  margin-bottom: 35px;
  color: #6fb048;
  text-transform: uppercase;
  font-weight: bold;
}

.thumbnails .price {
  font-size: 65px;
  font-weight: bold;
  margin-bottom: 16px;
  color: #0f5f5c;
}

.thumbnails .month {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 8px;
  color: #0f5f5c;
}

.thumbnails .content {
  padding: 30px;
}

a.thumbnail:hover,
a.thumbnail:focus,
a.thumbnail.active {
  border-color: #83a7a5;
}

/* .container {
	background: rgba(tomato,.2);
} */
