.jumbotron {
  padding-top:    170px;
  padding-bottom: $jumbotron-padding;
  margin-bottom: $jumbotron-padding;
  color: $jumbotron-color;
  background-color: $jumbotron-bg;

  h1,
  .h1 {
    color: $jumbotron-heading-color;
    font-size: $jumbotron-heading-font-size;
  }

  p {
    margin-bottom: ($jumbotron-padding / 2);
    font-size: $jumbotron-font-size;
    font-weight: 200;
    width:513px;
    line-height: 26px;
  }

  > hr {
    border-top-color: darken($jumbotron-bg, 10%);
  }

  .container  {
    padding-left:  ($grid-gutter-width / 2);
    padding-right: ($grid-gutter-width / 2);
  }

  .container {
    max-width: 100%;
  }
}

